<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Id -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
 
    <!-- First Name -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <!-- Last Name -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <!-- Gender -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <!-- Birth Date -->
    <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef> Birth Date </th>
        <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
      </ng-container>

      <!-- Hire Date -->
      <ng-container matColumnDef="hireDate">
        <th mat-header-cell *matHeaderCellDef> Hire Date </th>
        <td mat-cell *matCellDef="let element"> {{element.hireDate}} </td>
      </ng-container>
    
      <!-- Delete -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
        <td mat-cell *matCellDef="let row; let i = index"> 
            <button mat-icon-button (click)="remove(i)" >
               <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  
  